/* Reset */
*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --white:#fff;
    --primary-color:hsl(292, 42%, 14%);
    --secondary-color:hsl(292, 16%, 49%);
}

body {
    font-family: "Work Sans", sans-serif;
    font-size: 1rem;
    background-color: var(--secondary-color);
}


.accordion-content {
    display: none;
}

.accordion-item.active .accordion-content {
    display: block;
    margin-top: 1em;
}

.accordion-toggle-minus {
    display: none;
}

.background {
    position: absolute;
    top: 0;
    width: 100%;
    height: 300px;
    z-index:-1;
    background-image: url('background-pattern-mobile.svg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position: top;
}

.container {
    display: grid;
    place-items: center;
    padding:10em 2em 10em 2em;
    max-width: 1400px;
    margin:0 auto;
   
}

.content-wrapper {
    background:var(--white);
    padding:2em;
    border-radius:10px;
    max-width: 600px;
}

header {
    display: flex;
    align-items: center;
    gap:1em;
    margin-bottom: 2em;

    .main-header {
        font-size: 2.5rem;
        color:var(--primary-color);
    }
}

.accordion-question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:2em;
    
    
    img {
        cursor:pointer;
    }

    p {
        font-weight: 600;
         color:var(--primary-color);
    }
}

hr {
    margin-block:1.5em;
    color:var(--white);
    opacity:0.2;
    }



@media (min-width:768px) {
    body {
       
        .background {
            background-image: url('background-pattern-desktop.svg');
        }

        .container {
            padding:11em 2em 10em 2em;
        }
    }
}
